[package]
name = "emulsion"
version = "1.3.0"
authors = ["Artur Barnabas <kovacs.artur.barnabas@gmail.com>"]
build = "build.rs"

[target.'cfg(windows)'.build-dependencies]
winres = "0.1"

[dependencies]
image = "0.20"
cgmath = "0.16"
error-chain = "0.12"
sys-info = "0.5"
backtrace = "0.3"
serde = "1.0"
serde_derive = "1.0"
rmp-serde = "0.13"
rand = "0.5"
alphanumeric-sort = "1.0"

[dependencies.glium]
version = "0.23"
features = [
    "icon_loading"
]
