[package]
name = "emulsion"
version = "2.0.0"
description = "A fast and minimalistic image viewer"
repository = "https://github.com/ArturKovacs/emulsion"
authors = ["Artur Barnabas <kovacs.artur.barnabas@gmail.com>"]
license = "MIT"
readme = "README.md"
edition = "2018"
build = "build.rs"

[workspace]
members = [
    "subcrates/gelatin",
]

[features]
default = []
networking = ["reqwest"]

[package.metadata.bundle]
name = "Emulsion"
identifier = "io.github.arturkovacs.emulsion"
icon = ["resource_dev/emulsion.png"]
resources = ["LICENSE.txt"]
short_description = "A lightweight and minimalistic image viewer"
copyright = "Copyright (c) 2020 The Emulsion Contributors"

[target.'cfg(windows)'.build-dependencies]
winres = "0.1"

[dependencies]
#gelatin = { path = "./subcrates/gelatin" }
gelatin = "0.3"
reqwest = { version = "0.10", features = ["json", "blocking"], optional = true }
lazy_static = "1.4.0"
directories = "2.0.2"
open = "1.4.0"
sys-info = "=0.5.8"
error-chain = "0.12"
backtrace = "0.3"
serde = "1.0"
serde_derive = "1.0"
toml = "0.5"
rand = "0.7"
alphanumeric-sort = "1.0"
trash = "1.0"
